.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}
header .form-control-dark {
    color: #fff !important;
    background-color: rgba(255, 255, 255, .1) !important;
    border-color: rgba(255, 255, 255, .1) !important;
    padding: 0.75rem 1rem;
}

.sidebar .btn-toggle:focus{
    box-shadow: none ;
}

/* bootboxes */
.bootbox-body{
    height: 200px !important;
    overflow: auto !important;
}
.users-bootbox{
    background-color:#f7f7f9;
}
.no-available-data{
    background-color:#f7f7f9;
}
.users-bootbox ul {
    list-style: none;
    padding-left: 0;
}
.modal button.close{
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.40625rem;
    font-weight: 600;
    line-height: 1;
    color: #000;
    text-shadow: none;
    opacity: .5;
}

