.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}
header .form-control-dark {
    color: #fff !important;
    background-color: rgba(255, 255, 255, .1) !important;
    border-color: rgba(255, 255, 255, .1) !important;
    padding: 0.75rem 1rem;
}

.sidebar .btn-toggle:focus{
    box-shadow: none ;
}

/* bootboxes */
.bootbox-body{
    height: 200px !important;
    overflow: auto !important;
}
.bootbox-wrapper{
    background-color:#f7f7f9;
}
.no-available-data{
    background-color:#f7f7f9;
}
.users-bootbox ul {
    list-style: none;
    padding-left: 0;
}
.modal button.close{
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.40625rem;
    font-weight: 600;
    line-height: 1;
    color: #000;
    text-shadow: none;
    opacity: .5;
}

.table-description{
    height: 100px;
    overflow: scroll;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e);
    transition: transform .35s ease;
    transform-origin: 0.5em 50%;
}

