body{
    font-size: 0.85rem !important;

}
table th,td {
    font-size: 0.85rem !important;

}
.sidebar a{
    color: #c2c7d0;
}
.sidebar li{
    list-style: none;
}
.sidebar a:hover,a:focus,a:active{
    color:white
}
.sub-menu  a{
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}

header .form-control-dark {
    color: #fff !important;
    background-color: rgba(255, 255, 255, .1) !important;
    border-color: rgba(255, 255, 255, .1) !important;
    padding: 0.75rem 1rem;
}

.sidebar .btn-toggle:focus{
    box-shadow: none ;
}

/* bootboxes */
.bootbox-body{
    height: 200px !important;
    overflow: auto !important;
}
.bootbox-wrapper{
    background-color:#f7f7f9;
}
.no-available-data{
    background-color:#f7f7f9;
}
.users-bootbox ul {
    list-style: none;
    padding-left: 0;
}
.modal button.close{
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.40625rem;
    font-weight: 600;
    line-height: 1;
    color: #000;
    text-shadow: none;
    opacity: .5;
}

.table-description{
    height: 100px;
    overflow: scroll;
}

/* Datatable */

table{
    width: 100% !important;
}

.dataTable tbody td{
    padding-top: 1%;
    padding-bottom: 1%;
}
main {
    background-color: #f4f6f9;
}

form select option:disabled {
    background: rgb(206, 206, 206);
    color: white;
}

input,select,textarea {
    border-radius: .25rem !important;
}
